<div class="sidebar">
  <a class="active" href="#home">RACKET</a>
  <a href="empprofile/:id">EMPLOYER LIST</a>
  <a href="stdprofile/:id">STUDENT LIST</a>
  <div class="icon-bar">
    <a href="https://www.facebook.com/" class="facebook"><i class="fa fa-facebook"></i></a>
    <a href="https://twitter.com/" class="twitter"><i class="fa fa-twitter"></i></a>
    <a href="https://www.linkedin.com/" class="linkedin"><i class="fa fa-linkedin"></i></a>
  </div>
</div>

<div class="content">
  <h2>RACKET</h2>
  <p>Racket is a service website that links Employers and Students, giving you the chance to explore new Opportunities.
  </p>
  <div>
    <h1>{{ title }}</h1>
    <div *ngFor="let employer of employers">
      {{ employer.ID }}
      {{ employer.Username }}
      {{ employer.Password }}
      <h2>{{ employer.CompanyName }}</h2>
      {{ employer.CompanyWeb }}
    </div>
  </div>


  <!-- <div class="container">
    <form class="form" action="action_page.php">

      <h2>Contact Us</h2>
      <label for="fname">First Name</label>
      <input type="text" id="fname" name="firstname" placeholder="Your name..">

      <label for="lname">Last Name</label>
      <input type="text" id="lname" name="lastname" placeholder="Your last name..">

      <label for="country">Country</label>
      <select id="country" name="country">
        <option value="australia">Australia</option>
        <option value="canada">Canada</option>
        <option value="usa">USA</option>
      </select>

      <label for="subject">Subject</label>
      <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>

      <input type="submit" value="Submit">

    </form>
  </div> -->

</div>