/* .std-profile{
    padding: 3%;
    margin-bottom: 3%;
    border-radius: 0.5rem;
    background: #fff;
    position: relative;
    top: 100px;
}
.profile-img{
    text-align: center;
}
.profile-img img{
    width: 70%;
    height: 100%;
}
.profile-img .file {
    position: relative;
    overflow: hidden;
    margin-top: -20%;
    width: 70%;
    border: none;
    border-radius: 0;
    font-size: 15px;
    background: #212529b8;
}
.profile-img .file input {
    position: absolute;
    opacity: 0;
    right: 0;
    top: 0;
}
.profile-head h5{
    color: #333;
}
.profile-head h6{
    color: #0062cc;
}
.profile-edit-btn{
    border: none;
    border-radius: 1.5rem;
    width: 70%;
    padding: 2%;
    font-weight: 600;
    color: #6c757d;
    cursor: pointer;
}
.proile-rating{
    font-size: 12px;
    color: #818182;
    margin-top: 5%;
}
.proile-rating span{
    color: #495057;
    font-size: 15px;
    font-weight: 600;
}
.profile-head .nav-tabs{
    margin-bottom:5%;
}
.profile-head .nav-tabs .nav-link{
    font-weight:600;
    border: none;
}
.profile-head .nav-tabs .nav-link.active{
    border: none;
    border-bottom:2px solid #0062cc;
}
.profile-work{
    padding: 14%;
    margin-top: -15%;
}
.profile-work p{
    font-size: 12px;
    color: #818182;
    font-weight: 600;
    margin-top: 10%;
}
.profile-work a{
    text-decoration: none;
    color: #495057;
    font-weight: 600;
    font-size: 14px;
}
.profile-work ul{
    list-style: none;
}
.profile-tab label{
    font-weight: 600;
}
.profile-tab p{
    font-weight: 600;
    color: #0062cc;
} */



a {
	color: #20AAE5;
	text-decoration: none;
}



/* .logo a{
	font-family: 'Bellota-BoldItalic', sans-serif;
	margin-left: 10px;
	font-size: 30;
	position: relative;
	top: 9px;
	text-shadow: #73B6E2 0.5px 0.5px 0px;
	color: #1086BA;
} */

a:hover {
	text-decoration: none;
}

nav {
	float: right;
	right: 1px;
	position: absolute;
	margin: 10px;
}

nav a{
	position: relative;
	color: #fff;
	text-decoration: none;
	font-size: 17px;
}

nav a:hover {
	border-bottom: 7px solid #e67e22;
	color: #fff;
}

.post_form {
	width: 100%;
}

.post_form textarea {
	width: 81%;
	height: 60px;
	border-radius: 3px;
	margin-right: 5px;
	border: 1px solid #D3D3D3;
	font-size: 12px;
	padding: 5px;
}

textarea:focus {
	outline: 0;
}

.post_form input[type="submit"] {
	width: 11%;
	height: 60px;
	border: none;
	border-radius: 3px;
	background-color: #3498db;
	font-family: 'Bellota-BoldItalic', sans-serif;
	color: #1E75CA;
	text-shadow: #73B6E2 0.5px 0.5px 0px;
	font-size: 90%;
	position: absolute;
	outline: 0;
	margin: 0;
}

.post_form input[type="submit"]:active {
	padding: 5px 4px 4px 5px;
}

.status_post {
	width: 96%;
	font-size: 15px;
	padding: 0px 5px;
	min-height: 75px;
	cursor:pointer;
}

.post_profile_pic {
	float: left;
	margin-right: 7px;
}

.post_profile_pic img {
	border-radius: 5px;
}

#comment_iframe {
	max-height: 250px;	
	width: 100%;
	margin-top: 5px;
}

.comment_section {
	padding: 0 5px 5px 5px;
}

.comment_section img {
	margin: 0 3px 3px 3px;
	border-radius: 3px;
}

#comment_form textarea {
	border-color: #D3D3D3;
	width: 85%;
	height: 35px;
	border-radius: 5px;
	color: #616060;
	font-size: 14px;
	margin: 3px 3px 3px 5px;
}
#comment_form input[type="submit"] {
	border:none;
	background-color: #20AAE5;
	color: #156588;
	border-radius: 5px;
	width: 13%;
	height: 35px;
	margin-top: 3px;
	position: absolute;
	font-family: 'Bellota-BoldItalic', sans-serif;
	text-shadow: #73B6E2 0.5px 0.5px 0px;
}

.newsfeedPostOptions {
	padding: 0px;
	text-decoration: none;
	color:#20AAE5;
	border:none;
}

.newsfeedPostOptions iframe {
	border: 0px;
	height: 17px;
	width: 120px;
}

.comment_like {
	background-color: transparent;
	border: none;
	font-size: 14px;
	color: #3498db;
	padding: 0;
	height: auto;
	width: auto;
	margin: 0;
}

.like_value {
	display: inline;
	font-size: 14px;
}

.profile_left {
	top: 150px;
	width: 30%;
	max-width: 360px;
	min-width: 130px;
	height: 100%;
	float: left;
	position: relative;
	background-color: #37B0E9;
	border-right: 10px solid #83D6FE;
	color: #CBEAF8;
	margin-right: 20px;
}

.profile_left img {
	min-width: 80px;
	width: 55%;
	margin: 20px;
	border: 5px solid #83D6FE;
	border-radius: 100px;
}

.profile_info {
	display: list-item;
	background-color: #2980b9;
	width: 100%;
	padding: 10px 0 10px 0;
}

.profile_info p {
	margin: 0 0 0 20px;
	word-wrap: break-word;
}

.danger {
	background-color: #e74c3c;
}
.warning {
	background-color: #f0ad4e;
}
.default {
	background-color: #bdc3c7;
}
.success {
	background-color: #2ecc71;
}
.info {
	background-color: #3498db;
}
.deep_blue {
	background-color: #0043f0;
}

.profile_left input[type="submit"] {
	width: 90%;
	height: 30px;
	border-radius: 5px;
	margin: 7px 0 0 7px;
	border: none;
	color: #fff;
} */


#logo{
max-width:150px;
}



.container{
    width:100%;
    background: #20AAE5;
    height: auto;
}


/*Starting the rewriting*/
.wrapper {
    position:relative;
    padding: 100px 45px 45px 45px;
    min-width: 950px;
	display: flex;
    background: #d3fcfe;
}


.column {
	background-color: #fff;
	padding: 10px;
	border: 1px solid #D3D3D3;
	border-radius: 5px;
	box-shadow: 2px 2px 1px #D3D3D3;
	z-index: -1;
	margin-bottom: 20px;
}

.network-links-column {
	background-color: #fff;
	border: 1px solid #D3D3D3;
	border-radius: 5px;
	box-shadow: 2px 2px 1px #D3D3D3;
	margin-bottom: 20px;
	overflow: hidden;
}

.network-links-header {
    background: #20aae5;
    color: #fff;
    font-weight: 600;
	padding: 5px 20px;
	text-align: center;
}

.network-links-body {
	padding: 20px;
}

.user_details {
	margin-bottom: 20px;
}
.user_details_logo {
	text-align: center;
}
.user_details_left_right {
	width: 120px;
	display: inline-table;
	position: absolute;
}
.user_details img {
	height: 120px;
	max-width:120px;
	border-radius: 100px;
	margin-right: 5px;
}


.student-details-container {
	width: 20%;
}

.main_column {
	width: 50%;
	min-height: 160px;
	margin: 0px 30px;
	background: #fff;
	height: fit-content;
}

.list-column {
	width: 30%;
}

.pop{
    /* margin-left:300px; */
    z-index: 10;
    /* margin-top:40px; */
}

.light-blue-backdrop {
    background-color: #5cb3fd;
}

.jobpost-location,
.jobpost-created,
.jobpost-decription {
	color: #555;
}

.jobpost-decription {
	margin-bottom: 15px;
}

.jobpost-row {
	display: flex;
}

.jobpost-website-container {
	width: 100%;
}

.jobpost-created span {
    display: block;
    white-space: nowrap;
}

.employer-details-container {
	width: 29%;
	margin-right: 1%;
	background: #fff;
	padding: 15px;
}

.students-list-column {
	background: #fff;
	padding: 15px;
}

.edit-btn-container {
	display: flex;
    width: 100%;
    justify-content: flex-end;
}

.comment-add{
	width:30px;
	height:30px;
}

.employers-list-container {
	margin-bottom: 20px;
}

.students-list-container,
.employers-list-container {
	padding: 20px 0px;
	background: #fff;
}

.students-list-container .content,
.employers-list-container .content {
	max-height: 300px;
	overflow: auto;
	padding: 0px 20px;
}

.list-header {
	text-align: center;
	padding-left: 20px;
	
	
}

.social-icon {
    width: 40px;
	padding: 5px;
	margin-left:40px;
}

.social-icons-container {
	display: flex;
	margin-top: 10px;
}
