<!-- This is what Ive been working on -->
<div class="wrapper">
    <div class="student-details-container">
      <div class="user_details column">
          <div class="user_details_logo">
            <img class="logo" src="../../assets/images/placeholder-face-big.png" alt="" />
          </div>
          <div>
            <br>
            <b>Student:</b>: {{ student?.FirstName }} {{ student?.LastName }}
            <br>
            <b>Student Experience</b>: {{ student?.StdExperience }} 
            <br>
            <b>Contact Info:</b>
            <br>
            <span>{{ student?.StdContactNum }}</span>
            <br>
            <span>{{ student?.StdEmail }}</span>
            <br>
            <b>Accomplishments:</b>
            <br>
            <span>{{ student?.StdScholarships }}</span>
            <br>
            <span>{{ student?.StdAwards }}</span>
            <br>
            <span>{{ student?.StdGPA }}</span>
            <br>
            <b>Skills</b>: {{ student?.StdSkills }}
            <br>
            <b>Courses Enrolled:</b>
            <br>
            <span>{{ student?.CoursesEnrolled }}</span>
            <br>
            <b>Courses Completed:</b>
            <br>
            <span>{{ student?.CoursesCompleted }}</span>
            <br>
            <b>Major:</b>
            <br>
            <span>{{ student?.Major }}</span>
          </div>
      </div>
      <div class="useful-links-column">
          <div class="useful-links-header">
            Useful Links
          </div>
          <div class="useful-links-body">
            <a href="#">Edit my profile</a>
            <br />
            <a href="#">See my job posts</a>
            <br />
            <a href="#">Find Employers</a>
          </div>
      </div>
    </div>
    <div class="main_column employers-list-column">
      <!-- <app-employers-list [employers]="employers"></app-employers-list> -->
      <div class="jobs-list-container">
        <div class="jobs-list column" *ngFor="let jobPost of jobPosts">
          <b>{{ jobPost.StdJobName }}</b>
          <div class="jobpost-decription">
            <span [innerHtml]="jobPost.StdJobDescription | safeHtml"></span>
          </div>
          <div class="jobpost-row">
            <div class="jobpost-website-container">
              <div class="jobpost-website">
                <a [href]="jobPost.StdJobWebsite">
                  Visit website
                </a>
              </div>
              <div class="jobpost-location">
                <span>{{ jobPost.StdJobLocation }}</span>
              </div>
            </div>
            <div class="jobpost-created-container">
              <div class="jobpost-created">
                <span>{{ jobPost.StdJobPostedDate | appDate }}</span>
              </div>
            </div>
          </div>
          <div class="jobpost-row">
            <div class="edit-btn-container">
                <button type="button" class="btn btn-primary" (click)="openEditModal(jobPost)">
                  Edit
                </button>
            </div>
          </div>
        </div>
      </div>
      <div class="pop">
        <!-- <app-std-post-job (jobCreated)="onJobCreated($event)"
                          (jobUpdated)="onJobUpdated($event)"
                          #postJobForm>
        </app-std-post-job> -->
      </div>
    </div>
  </div>