
@import '~@angular/material/prebuilt-themes/indigo-pink.css';


*{
    margin:0;
}

body{
    width:100%;
    height:auto;
    background: -webkit-linear-gradient(left, #c9c9c9, #b9bcc0);
    



}



