<div class="body">
    <div>
        <table>
            <thead>
                <th>ID</th>
                <th>UserName</th>
                <th>PassWord</th>
            </thead>
            <tbody>
                <tr *ngFor="let employer of employers">
                    <td>{{employers.CompanyID}}</td>
                    <td>{{employers.UserName}}</td>
                    <td>{{employers.PassWord}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- <div class="container emp-profile">
        <form method="post">
            <div class="row">
                <div class="col-md-4">
                    <div class="profile-img">
                        <img class="logo" src="../../../assets/images/images.jpg" alt="" />

                    </div>
                </div>
                <div class="col-md-6">
                    <div class="profile-head">
                        <h5>
                            Joe Salaz lol
                        </h5>
                        <h6>
                            CEO Microsoft Corp
                        </h6>
                        <p class="proile-rating">RANKINGS : <span>8/10</span></p>
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab"
                                    aria-controls="home" aria-selected="true">About</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
                                    aria-controls="profile" aria-selected="false">Details</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-2">
                    <input type="submit" class="profile-edit-btn" name="btnAddMore" value="Send Message" />
                </div>
            </div>
        </form>
        <div class="row">
            <div class="col-md-4">
                <div class="profile-work">
                    <p>WORK LINK</p>
                    <a href="">Website</a><br />
                    <a href="">Linkedin</a><br />
                    <a href="">Facebook</a>
                    <p>Company</p>
                    <a href="">Microsoft Corp</a><br />

                </div>
            </div>
            <div class="col-md-8">
                <div class="tab-content profile-tab" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <div class="row">
                            <div class="col-md-6">
                                <label>User Id</label>
                            </div>
                            <div class="col-md-6">
                                <p>joesala46</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Name</label>
                            </div>
                            <div class="col-md-6">
                                <p>Jose Salazar</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Email</label>
                            </div>
                            <div class="col-md-6">
                                <p>joesalaz46@gmail.com</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Phone</label>
                            </div>
                            <div class="col-md-6">
                                <p>918-902-3994</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Interested in</label>
                            </div>
                            <div class="col-md-6">
                                <p>Fullstack Web Developer</p>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                        <div id="content" class="col-md-12">
                            <p id="p1">
                                Advanced is seeking a talented and professional Full Stack Web Developer in our Port
                                Orange, FL office.
                                This individual will be joining a team that is responsible for a robust web application
                                that supports the business,

                                and our public facing websites.The internal web application hosts a full suite of
                                modules that include, but
                                not limited to:
                                client services, candidate tracking,
                                marketing automation, billing, and more.
                                Were looking for a good team player that embraces working in a fast paced, agile
                                environment. Also, someone that is a strong communicator that will continue to challenge
                                the
                                team and push the limits of our products.


                                You will...
                            </p>



                            <ul>
                                <li>Collaborate with the team to develop amazing features and products;</li>
                                <li>Strive for high quality and rapid output through the use of agile software
                                    development best practices;</li>
                                <li>Adhere to coding, compliance, & security standards;</li>
                                <li>Optimize websites and applications to ensure quick page loads;</li>
                                <li>Maintain well-documented...</li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div> -->

</div>

<router-outlet></router-outlet>